@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  background-color: #FFFFFF;
  width: 90%;
  height: 100%;
  margin: auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  color: #ba7124;
}

.main.small {
  margin: 7em auto;
  width: 400px;
  padding-bottom: 30px;
  height: 100%;
}

.tambah {
  margin: 7em auto;
  width: 400px;
  padding-bottom: 30px;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  color: #ba7124;
}

.sign {
  padding-top: 40px;
  color: #ba7124;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

.kucing{
  width: 80%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
  }

  .upload{
    width: 80%;
    /* color: rgb(38, 50, 56);
    font-weight: 700; */
    font-size: 14px;
    letter-spacing: 1px;
    /* background: rgba(136, 126, 126, 0.04); */
    /* padding: 10px 20px; */
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    /* border: 2px solid rgba(0, 0, 0, 0.02); */
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

form.form1 {
  padding-top: 40px;
}

.pass {
      width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-error-msg {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  color: #de2d2d;
  margin-bottom: 10px;
  opacity: 90;
}
.error-msg-second-line {
  display: block;
}

.submit {
cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #ba7124, #ed8619);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.tambah {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #ba7124, #ed8619);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  padding-top: 15px;
}

span {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  color: #de2d2d;
  margin-bottom: 10px;
  opacity: 90;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }
  
  

}

